#~~~~ Created .gitignore ~~~~#
*
!.gitignore
!.gitattributes

!/Google_Circle_Loader
!/Google_Circle_Loader/*

!/Pencil_Loader
!/Pencil_Loader/*

!/Shapes_Loader
!/Shapes_Loader/*

!/Windows_Loader
!/Windows_Loader/*

!/Off_Track_Loader
!/Off_Track_Loader/*

!/Compass_Loader
!/Compass_Loader/*

!/Infinity Preloader
!/Infinity Preloader/*

!/Leaky_Preloader
!/Leaky_Preloader/*

!/Segmented_progress_bar
!/Segmented_progress_bar/*

!/Shopping_cart_preloader
!/Shopping_cart_preloader/*

!/spinner_with_balls
!/spinner_with_balls/*

!/Stroke_and_bounce
!/Stroke_and_bounce/*